@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../pt-sans/ptsans-700.woff2")format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../pt-sans/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../pt-sans/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../pt-sans/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
margin: 0;
min-height: 100%;
font-family: "PT Sans", sans-serif;
font-size: 20px;
line-height: 26px;
background-color: #ffffff;
color: #000000;
}
.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 20px 0 gray;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


input {
  font-family: inherit;
}

.main-container {
flex-grow: 1;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
}
/*Шапка*/
.navigation {
  position: relative;
  display: flex;
  width: 1060px;
  margin: 0 auto;
  position: relative;
}
.navigation-logo {
  position: absolute;
  bottom:0;
  top: 0;
}

.logo {
  margin: 0;
  padding: 0;
  width: 140px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 169px;
  padding: 0;
  width: 500px;
  list-style-type: none;
}
.navigation-link {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 17px;
  padding-left: 17px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.navigation-user {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-left: auto;
  padding:0;
  max-width: 350px;
  list-style: none;
}
.navigation-item-user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
}
.navigation-link-user {
 text-decoration: none;
  color: white;
}
.navigation-img-favorite {
  position: relative;
}
.navigation-img-favorite-counter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7DB54F;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 10px;
  line-height: 13px;
  top: -8px;
  right: -13px;
  letter-spacing: -0.1em;
}
.button-want {
  display: block;
  box-sizing: border-box;
    width: 160px;
    height: 37px;
    background:  #756257;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 9px 15px;
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  margin-top: 13px;
  text-decoration: none;
  align-self: baseline;
  }
  .button-want:hover {
    background-color: #615048;
  }
  .button-want:focus {
    background-color: #615048;
    border-radius: 4px;
    outline: 3px solid #83B3D3;

  }
  .button-want:active {
color: rgba(255, 255, 255, 0.3);
background-color: #615048;
}
.navigation-link-current::after {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% - 34px);
  background-color: #756257;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
}

.navigation-link:hover {
  color:#756257;
}

.navigation-link:active {
color: rgba(117, 98, 87, 0.3);
}

.navigation-link-user:hover {
 fill: #756257;

}

.navigation-link-user:active {
 fill: #D6D0CD;

}
.navigation-link-user:active .navigation-img-favorite-counter  {
  fill: #D6D0CD;
  color: #9bc577;
  background-color: #7DB550;
 }

.navigation-img-favorite-counter:hover {
  background-color: #7DB550;
}




/*main index*/
.greeting {
  background-image: url("../images/divider.png"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom 0;
  }
.greeting-where {
  display: block;
  width: 460px;
  padding: 51px 371px 82px;
  margin: 0 auto;
}
.discription {
  text-align: center;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
  padding: 63px 280px 80px;
}
.description-town {
  font-weight: 700;
  font-size:30px ;
  line-height:36px;
  text-transform: uppercase;
}
.advantages {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.reason {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 80px;
}
.home {
  background-image: url("../images/house.png");
  background-repeat: no-repeat;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  background-position: center 89px;
}
.eat {
  background-image: url("../images/burger.png");
  background-repeat: no-repeat;
  width: 400px;
  background-position: center 89px;

}
.souvenirs {
  background-image: url("../images/present.png");
  background-repeat: no-repeat;
  width: 400px;
  background-position: center 89px;
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item h3 {
  font-weight: 700;
  font-size: 24px ;
  line-height: 28px ;
  text-align: center ;
  margin-top: 98px;
}

.advantages-item h4 {
   font-weight: 700;
   font-size: 24px ;
   line-height: 28px ;
   text-align: center ;
   margin: 185px 75px 20px;
 }

 .advantages-item p {
  font-size: 18px ;
  line-height: 21px ;
  text-align: center ;
}
.recommendations p {
  margin: 20px 75px 79px;
}
.best-town, .devil-bridge {
background-color: rgba(131, 179, 211, 1);
}
.square, .tourist {
  background-color: rgba(131, 179, 211, 0.12);
}
.beautiful-road {
  background-color: rgba(131, 179, 211, 0.2);
}
.best-town {
  display: flex;
  flex-grow: 1 2;
  color: #ffffff;
}
.devil-bridge {
  display: flex;
  flex-grow: 2 1;
  color: #ffffff;
}
.flex-self {
  align-self:center;
  margin: auto;
  margin-left: 90px;
  margin-right: 90px;
}
.img-devil-bridge {
  order: 1;
}
.text-devil-bridge {
  order: 2;
}
.img-devil-bridge {
  order: 1;
}
.text-devil-bridge {
  order: 2;
}
.recommendations {
  display: flex;
  margin: 0;
  justify-content: space-between;
  min-height: 385px;
}
.recommendations p {
  margin: 20px 75px 79px;
}
.advantages h3, .advantages h4 {
  text-transform: uppercase;
}
.square, .beautiful-road, .tourist {
  width: 400px;
  min-height: 385px;
}
.flex-end {
  display: flex;
  margin: 0;
}
.booking {
  margin: 91px 240px;
}
.booking h2 {
  text-transform: uppercase;
}
.booking h4 {
  font-weight: 700;
  font-size:30px ;
  line-height:36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 91px;
  margin-bottom: 29px;
  }
  .booking p {
    font-size:22px ;
    line-height:26px;
    text-align: center;
    margin-bottom: 56px;
    text-align: center;
  }
  .button-hotel {
    display: block;
    padding: 15px;
   font-weight: 700;
   font-size:20px ;
   line-height:36px;
   text-align: center;
   color: #ffffff;
   text-decoration: none;
    width: 575px;
    height: 60px;
    background-color: #756257;
    border-radius: 10px;
    text-transform: uppercase;
    box-sizing: border-box;
    margin:auto ;
  }
  .button-brown:hover {
    background-color: #615048;
  }
.button-brown:focus {
    background-color: #615048;
    border-radius: 10px;
    outline: 3px solid #83B3D3;
  }
.button-brown:active {
color: rgba(255, 255, 255, 0.3);
background-color: #615048;
}
/*main hotel*/
.main-inter {
  margin: 0;
}
.catalog-filter{
  display: flex;
}
.hotel-heading {
  width: 530px;
  margin: 0;
  padding-top: 35px;
  font-weight: 700 ;
  font-size: 60px;
  line-height: 77px;
  text-align: center;
  box-sizing: border-box;
  margin-top: 35;
  margin-left: 71px;
  margin-bottom: 5px;
  text-align: start;
}
.filter {
  background-image: url("../images/catalog-background.jpg");
  width: 1200px;
  height: 410px;
  background-repeat: no-repeat;
  color: #ffffff;

  }
.breadcrumbs {
  display: flex;
  list-style-type: none;
  width: 100px;
  align-items: baseline;
  margin-bottom: 45px;
  margin-top: 0;
  margin-left: 71px;
  padding: 0;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
}
.breadcrumbs-item {
  margin-right: 26px;
  position: relative;
}
.breadcrumbs-item:first-of-type::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  top:11px;
  right: -20px;
}

.icon-breadcrumbs {
  display: block;
  width: 12px;
  height: 12px;
  fill: white;

}
.breadcrumbs-border-home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 27px;
  padding: 8px;
}
.breadcrumbs-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 27px;
  padding: 8px;
  text-decoration: none;
  color: white;

}
.breadcrumbs-border-home:hover {
fill: #C4D7E5;
}
.breadcrumbs-border-home:focus {
  border-radius: 4px;
  outline: 3px solid #83B3D3;
}
.breadcrumbs-border-home:active {
fill: #87ABCA;
}

.breadcrumbs-border:hover {
color:#C4D7E5;
}
.breadcrumbs-border:focus {
border-radius: 4px;
outline: 3px solid #83B3D3;
}
.breadcrumbs-border:active {
color: #87ABCA;
}
.hotels-filter-group {
  border: none;
  width: 150px;
  margin-left: 70px;
  padding: 0;
}
.infrastructure {
  position: relative;
}
.point {
  padding-left: 40px;
}
.square-choic-border {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 20px;
  height: 20px;

}
.square-choice {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 4px;
}
.control:hover  .square-choice {
  background-color: #c4d1e1;
}
.control:focus  .square-choice {
  background-color: #becddc;
  outline: 3px solid #83B3D3;
border-radius: 4px;
}
.control:active  .square-choice {
  background-color: #8297a9;
}
.infrastructure-input[type="checkbox"]:checked {
  background-image: url("images/selected.svg");
  width: 12px;
  height: 9px;
}

.control:hover  .circle-choice {
  background-color: #c4d1e1;
}
.control:focus  .circle-choice {
  background-color: #becddc;
  outline: 3px solid #83B3D3;
border-radius: 50%;
}
.control:active  .circle-choice {
  background-color: #8297a9;
}
.circle-choice {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}
.infrastructure-list {
  width: 187px;
  margin-top:30px;

}
.infrastructure-item {
  padding-bottom: 13px;
}
.type-list {
  width: 130px;
}
.hotels-filter-title {
  width: 150px;
  font-weight: 700 ;
  font-size: 20px;
  line-height: 25px;

}
.type-of-housing {
  width: 150px;
  margin-right: 120px;
}
.infrastructure-input {
  margin: 0;
}
.choice {
  list-style-type: none;
  padding: 0;
   font-size: 18px;
   line-height: 23px;
   margin-top: 30px;
 }
.hotels-price {
  width: 290px;
  margin-left: 0;
}
.send {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 58px;
}
.range {
  width: 287px;
}
.range-scale {
  position: relative;
  height: 4px;
  margin-top: 32px;
  background-color:  #646b6e;
}
.range-bar {
  position:absolute;
  height: 4px;
  background-color: white;

}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: white;
  border: none;
  cursor: pointer;
}
.range-toggle:hover {
background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.range-toggle:focus{
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.range-toggle:active {
  border: 2px solid #83B3D3;
box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
border-radius: 5px;
}
.toggle-min {
top:-8px;
}
.toggle-max {
  top: -8px;
    right: 0px;

}
.price-border {
  display: flex;
  margin-top: 34px;
}
.range-input {
  font-family: 'PT Sans';
font-weight: 400;
font-size: 18px;
line-height: 23px;
  color: white;
  padding-left: 19px;
padding-right: 45px;
}
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.min {
  width: 142px;
  height: 48px;
  box-sizing: border-box;
  background: none;
  border: 2px solid #FFFFFF;
  border-radius: 4px 0 0 4px;
}
.min:hover,
.max:hover {
border-color: #b6bdc1;
}
.min:focus {
  outline: 2px solid #81B3D2;
box-shadow: 0px 0px 0px 3px #81B3D2;
border-radius: 4px 0px 0px 4px;
}

.max:focus {
  outline: 2px solid #81B3D2;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  border-radius: 0px 4px 4px 0px;
  }

.min:active,
.max:active {
  background-color: #756257 ;
}
.max{
  width: 142px;
  height: 48px;
  box-sizing: border-box;
  background: none;
  border: 2px solid #FFFFFF;
  border-radius: 0 4px 4px 0;
}

.label-range {
position: relative;
}
.position-label {
  position: absolute;
  right: 13px;
  top: 12px;
  color: #707e82;
}
.throw-off {
  border: none;
  background: none;
  color: white;
  width: 160px;
  height: 23px;
  font-size: 18px;
  line-height: 23px;
}
.throw-off:hover {
  color:#b3b5b5;
}
.throw-off:focus {
  color: white;
border-radius: 4px;
outline: 3px solid #83B3D3;
}
.throw-off:active {
  color: #767778;
}
.search-filter{
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 48px;
  margin: 0 ;
  align-items: center;
  margin: 50px 70px 55px;
}
.sort {
  margin-left: 190px;
  align-self: center;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 19px;
  width: 290px;
  font-size: 18px;
  width: 287px;
  appearance: none;
  overflow: hidden;
  background: url('../images/dropdown.svg') no-repeat right;
  background-position: 254px;
}
.sort:hover {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}
.sort:focus {
  border-radius: 4px;
  outline: 2px solid #83B3D3;
}
.sort:active {
  color:#E6E6E6;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}
.show {
  display: flex;
  width: 170px;
  margin-left: auto;
  margin-top: auto;
  width: 170px;
}
.show-item {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}
.mode-tile {
  background-image: url("../images/mode-tile.svg");
  background-position: center;
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 17px 16px;
  align-content: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 48px;
}
.mode-tile:hover {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}
.mode-tile:focus {
  border-radius: 4px;
  outline: 2px solid #83B3D3;
  border:none;
}
.mode-slideshow {
  background-image: url("../images/mode-slideshow.svg");
  background-position: center;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  padding: 17px 16px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 48px;
}
.mode-slideshow:hover {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}
.mode-slideshow:focus {
  border-radius: 4px;
  outline: 2px solid #83B3D3;
  border: none;
}
.mode-list {
  background-image: url("../images/mode-list.svg");
  background-position: center;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  padding: 17px 16px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 48px;
}
.mode-list:hover {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}
.mode-list:focus {
  border-radius: 4px;
  outline: 2px solid #83B3D3;
  border: none;
}

.result {
  width: 340px;
  text-transform: uppercase;
  font-weight: 700 ;
  font-size: 30px;
  line-height: 38px;
}
.hotel-card {
  display: flex;
  flex-wrap: wrap;
  width: 1055px;
  justify-content: space-between;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px 10px;
  margin: 53px 72px 30px;
}
.hotel-card-link:hover {
opacity: 0.6;
}
.hotel-card-link:focus {
  outline: 3px solid #83B3D3;
}
.hotel-card-link:active {
  opacity: 0.3;
}
.hotel-content {
  padding: 20px;
}
.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}
.hotel-card-link {
  color: #000000;
  text-decoration: none;
}
.kind-housing, .hotel-card-price {
  font-size: 18px;
  line-height: 23px;
}
.button-cards {
  display: flex;
  justify-content: space-between;
}
 .hotel-button {
   padding-top: 9px;
   padding-bottom: 10px;
   border-radius: 4px;
 }
 .hotel-button:hover {
  background-color: #68A2CA;
  }

  .hotel-button:focus {
  background-color: #68A2CA;
  border-radius: 3px;
  outline: 3px solid #756257;
  }
  .hotel-button:active {
  background-color: #68A2CA;
  color: #95BEDA;
   }
 .hotel-card-button {
   font-family: "PT Sans";
   font-weight: 700;
   font-size: 16px;
   background-color: #756257;
   box-sizing: border-box;
   width: 133px;
   height: 37px;
   color: white;
   font-weight: 700;
   text-align: center;
   font-size: 16px;
   text-align: center;
   display: inline-block;
   line-height: 20px;
   text-transform: uppercase;
  text-decoration: none;
 }


 .hotel-card-button:hover {
  background-color: #615048;
}
.hotel-card-button:focus {
  background-color: #615048;
  border-radius: 4px;
  outline: 3px solid #83B3D3 ;
}
.hotel-card-button:active {
color: rgba(255, 255, 255, 0.3);
background-color: #615048;
}

 .hotel-card-favourites-button {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
 }
 .hotel-card-favourites-button {
  background-color: #83B3D3;
  width: 140px;
  height: 37px;
  color: white;
  font-weight: 700;
  text-align: center;
  margin-left: 26px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
 }
 .hotel-card-favourites-button:hover {
  background-color: #68A2CA;
  }

  .hotel-card-favourites-button:focus{
  background-color: #68A2CA;
  border-radius: 4px;
  outline: 3px solid #756257;
  }
  .hotel-card-favourites-button:active {
  background-color: #68A2CA;
  color: #95BEDA;
   }
.hotel-card-favourites-button-done {
  background-color: #7DB54F;
  width: 140px;
  height: 37px;
  color: white;
  font-weight: 700;
  text-align: center;
  margin-left: 26px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
 .hotel-card-price {
   width: 143px;
 }


.rating {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
}
.four-stars {

  background-image: url("../images/four-stars.png");
  background-repeat: no-repeat;
  width: 90px;
  height: 17px;
}
.three-stars {
background-image: url("../images/three-stars.png");
background-repeat: no-repeat;
width: 68px;
height: 17px;
}
.two-stars {
background-image: url("../images/two-stars.png");
background-repeat: no-repeat;
width: 43px;
height: 17px;
}
.rating-background {
  background-color: #F2F2F2;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 10px;
  box-sizing: border-box;
  width: 160px;
  height: 37px;
text-align: center;
 font-size: 16px;
 line-height: 20px;
}
.type-and-price {
  display: flex;
  justify-content: space-between;
}
.kind-housing {
  width: 133px;
}
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 299px;
}
.pagination-all {
  display: flex;
  width: 1056px;
  height: 56px;
  margin: 30px 72px 73px;
}
.hotel-page {
  display: flex;
  width: 385px;
  justify-content: space-between;
}
.pagination-show-more {
  width: 620px;
  height: 60px;
  background-color: #83B3D3;
  border-radius: 4px ;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 30px 290px;
  cursor: pointer;
  text-transform: uppercase;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  margin: auto;
  min-width: 55px;
  min-height: 55px;
  font-weight: 700;
  color: white;
  background-color: #83B3D3;
  border-radius: 4px;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
.pagination-link:hover {
  background-color: #68A2CA;
  }

.pagination-link:focus {
  background-color: #68A2CA;
  border-radius: 4px;
  outline: 3px solid #756257;
  }
.pagination-link:active {
  background-color: #68A2CA;
  color: #95BEDA;
   }
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.active-page {
  color: black;
  background-color: #F2F2F2;
}
.quantity {
  width: 160px;
  appearance: none;
  overflow: hidden;
  background: url('../images/dropdown.svg') no-repeat right;
  background-position: 127px;
  border-radius: 4px;
  border: 2px solid #E6E6E6;
  padding-left: 17px;
  font-family: 'PT Sans';
    font-size: 18px;
}
/*Подвал*/
.footer-container{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin: 30px 70px 40px;
}
.footer-container-hotel {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin: 140px 70px 40px;
}
.subscription-index {
  background-image: url("../images/background-subscription.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 410px;
  margin: 0 auto;
  padding: 0;
}

.form-subscrirtion {
  display: flex;
}
.subscription-heading {
text-transform: uppercase;
color: white;
text-align: center;
padding-top: 94px;
padding-bottom: 29px;
margin: 0;
}
.subscription {
  display: flex;
  margin: 0;
 justify-content: center;
  color: white;
  text-align: center;
  padding-bottom: 46px;
  margin: 0;
}
.subscription-heading-hotel {
  text-transform: uppercase;
  color: black;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 29px;
  margin: 0;
  }
  .subscription-hotel {
    flex-direction: column;
    margin: 0;
   justify-content: center;
    color: black ;
    text-align: center;
    padding-bottom: 46px;
    margin: 0;
  }
.subscription-email {
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  width: 600px;
  height: 60px;
  padding:0  19px 0 22px;
  box-sizing: border-box;
  margin-left: 200px;
  border: none;
}
.subscription p {
  font-size:22px ;
  line-height:26px;
  text-align: center;
}
.subscription-email:hover {
  background-color: #E6E6E6;
}

.subscription-email:focus {
 background-color: #E6E6E6;
 border-radius: 10px 0px 0px 10px;
 outline: 3px solid #83B3D3;
}

.subscription-email:invalid{
 border: 2px solid #FF5757;
 border-radius: 10px 0px 0px 10px;
}
.submit {
  color: white;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #83B3D3;
  border-radius: 0 10px 10px 0;
  box-sizing: border-box;
  width: 200px;
  height: 60px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
.submit:hover {
  background-color: #68A2CA;
  }

.submit:focus {
  background-color: #68A2CA;
  border-radius:  0 10px 10px 0;
  outline: 3px solid #756257;
  }
.submit:active {
  background-color: #68A2CA;
  color: #95BEDA;
}
.button-apply {
  background-color: #83B3D3;
  border-radius: 4px;
  color: white;
  text-align: center;
  width: 160px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  box-sizing: border-box;
  text-transform: uppercase;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
}
.button-apply:hover {
  background-color: #68A2CA;
  }

.button-apply:focus{
  background-color: #68A2CA;
  border-radius: 4px;
  outline: 3px solid white;
  }
.button-apply:active {
  background-color: #68A2CA;
  color: #95BEDA;
   }

.subscription h2 {
  font-weight: 700;
  font-size:30px ;
  line-height:36px;
  text-align: center;
}
.social-network {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between ;
  width: 120px;
  padding: 0;
  list-style-type: none;
}
.social-network-item {
  display: flex;

}
.twitter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 36px;
  fill: #83B3D3;
padding: 10px;
}
.twitter:hover {
  fill:#68A2CA;
  }
  .twitter:focus {
    fill: #68A2CA;
    border-radius: 10px;
    outline: 3px solid #68A2CA;
  }
  .twitter:active {
  fill: #d2e3ef;
  }
.facebook {
  display: flex;
  align-items: center;
  justify-content: center;
padding: 10px;
width: 30px;
height: 40px;
  fill: #83B3D3;
}
.facebook:hover {
  fill:#68A2CA;
  }
  .facebook:focus {
    fill: #68A2CA;
    border-radius: 10px;
    outline: 3px solid #68A2CA;
  }
  .facebook:active {
  fill: #d2e3ef;
  }
.youtube {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
width: 40px;
height: 36px;
  fill: #83B3D3;
}
.youtube:hover {
fill:#68A2CA;

}
.youtube:focus {
  fill: #68A2CA;
  border-radius: 10px;
  outline: 3px solid #68A2CA;
}
.youtube:active {
fill: #d2e3ef;
}
.phone {
  width: 720px;
  font-size:40px ;
  line-height:40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding: 15px;
}
.phone:hover {
  color: #756257;
}
.phone:focus {
 color: #756257;
 border-radius: 10px;
 outline: 3px solid #83B3D3;
 padding: 15px;
}
.phone:active {
color: #D6D0CD;

}
.htmlacademy {
  width: 140px;
  margin-left: 55px;
  padding: 15px;

}
.htmlacademy:hover {
  fill: #756257;
}

.htmlacademy:focus {
  fill: #756257;
  border-radius: 10px;
  outline:3px solid #83B3D3;
  padding: 10px;
}
.htmlacademy:active {
  fill: #D6D0CD;
}

/* Кнопки */
.button {
  font-family: inherit;
}
.blue-button:hover {
  background-color: #68A2CA;
  }

.blue-button:focus:not(.submit) {
  background-color: #68A2CA;
  border-radius: 10px;
  outline: 3px solid #756257;
  }
.blue-button:active {
  background-color: #68A2CA;
  color: #95BEDA;
   }
.green-button:hover {
    background-color: #6C9E42;
    }
.green-button:focus {
    background-color: #6C9E42;
border-radius: 4px;
outline: 3px solid #756257;
     }
.green-button:active {
    background-color: #6C9E42;
    color: #93B774;
     }
/*Модальное окно*/
.modal-container {
  position: fixed;
  top:0;
  left:0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}
.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  background-color: white;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
border-radius: 30px;
}

.modal-booking {
  width: 715px;
}
.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px ;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50% ;
  border: none;
  background-image: url("../images/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.modal-title {

  width: 499px;
  height: 66px;
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}
.modal-button {

  margin:40px 70px 0;
  width: 575px;
  height: 60px;
  box-sizing: border-box;
  background-color: #83B3D3;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
text-align: center;
text-transform: uppercase;
line-height: 20px;
text-decoration: none;
align-self: baseline;
}



.form-label {
  display: flex;
  width: 575px;
  height: 50px;
}
.styles-datas {
  display: flex;
  width: 150px;
  font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 40px;
text-align: center;

}
.input-decoration{
  display: flex;
  width: 420px;
  background-color: #F2F2F2;
  padding-left: 19px;
  border: none;
  border-radius: 4px;
}
.form-decoration {
  display: flex;
}
.person-adult {
  display: flex;
}
.aduit {
  width: 155px;
}
.number-adult {
  width: 133px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
 background-color: #F2F2F2;
 border: none;
 border-radius: 4px;
}
.person-child {
  display: flex;

}
